body {
      margin: 0;
      height: 100vh;
    }


#pedro {
    font:normal 10pt arial;
    background:  rgb(0, 0, 0);
    color: white;
    width: 200px;
    height: 180px;
    line-height: 200px;
    text-align: center;
    margin: 1rem;
}

#mane {
     font:normal 10pt arial;
    background:  rgb(255, 0, 0);
    color: white;
    width: 200px;
    height: 180px;
    line-height: 200px;
    text-align: center;
    margin: 1rem;
}


    #nicolau {
      width: 200px;
      height: 180px;
      position: relative;
      left: 7.2rem;
      top: 6rem;
      color: white;
      background: rgb(0, 60, 255);
      text-align: center;
      transform: translate(-50%, -50%);
      transition: left 0.1s ease, top 0.1s ease;
    }