body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
}


#pedro {
    font:normal 10pt arial;
    background:  rgb(0, 0, 0);
    color: white;
    width: 200px;
    height: 180px;
    line-height: 200px;
    text-align: center;
    margin: 1rem;
}

#mane {
     font:normal 10pt arial;
    background:  rgb(255, 0, 0);
    color: white;
    width: 200px;
    height: 180px;
    line-height: 200px;
    text-align: center;
    margin: 1rem;
}

#nicolau {
    font:normal 10pt arial;
    background:  rgb(0, 68, 255);
    color: white;
    width: 200px;
    height: 180px;
    line-height: 200px;
    text-align: center;
    margin: 1rem;
}